
.section_formulaire{
   
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    
}

h1{
    color: #F46F30;
}

.container_form{
    display: flex;
    
   
    align-items: center;
    width: 70%;
    height: auto;
    justify-content: space-between;
    background-color: rgb(228, 231, 231);
    
    margin-top: 3rem;
    
}

 

.coordonnees{
    width: 40%;
    height: auto;
    margin-left: 2rem;
   
    background-color: rgb(241, 240, 240);
    display: grid;
    align-items: center;
    
}
.coordonnees i{
    color: #F46F30;
}
 
.coordonnees .cord{
    font-size: 15px;
    font-weight: bold;
}
 .localisation{
    margin-top: 1rem;
    width: 40%;
    height: 100%;
    border: 2px solid black;
 }
.formulaire_contact{
    
    width: 50%;
    height: auto;
    
    background-color: rgb(225, 229, 229);
}
.hr2{
    color: black;
    border-width: 1px;
    width: 60%;
}

.formulaire_contact li {
    list-style: none;
    width: 90%;
    
   
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.formulaire_contact li label{
    font-size: 25px;
    
   
    color: rgb(61, 60, 60);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

}
.formulaire_contact li input{
    width: 80%;
    height: 3rem;
    border-color: transparent;
}

.formulaire_contact li textarea{
    width: 80%;
    height: 5rem;
    border-color: transparent;
}

.valide{
    width: 30%;
    height: 3rem;
    margin-left: 20%;
    font-size: 25px;
    font-weight: bold;
}

.erreurs{
    /* background-color: rgb(249, 228, 3); */
    color: rgb(246, 2, 2);
    width: 70%;
}

.statuse{
    background-color: rgb(0, 223, 63);
}

@media screen and (min-width: 578px) and (max-width:1200px) {
    .container_form{
        display: flex;
        
       flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 70%;
        height: 100%;
       
        background-color: rgb(228, 231, 231);
        
        margin-top: 3rem;
        
    }
    
    .localisation{
        margin-top: 1rem;
        width: 70%;
        height: 100%;
        border: 2px solid black;
     } 

     .coordonnees, .localisation{
         margin-top: 2rem;
         width: 80%;
         margin-left: 0;
        
    }

    .formulaire_contact{
    
        width: 100%;
        height: auto;
        
        background-color: rgb(225, 229, 229);
    }
}

@media screen and (max-width: 578px)  {
    .container_form{
        display: flex;
        
       flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
       
        background-color: rgb(228, 231, 231);
        
        margin-top: 3rem;
        
    }
    
    .localisation{
        margin-top: 1rem;
        width: 70%;
        height: 100%;
        border: 2px solid black;
     } 

     .coordonnees, .localisation{
         margin-top: 2rem;
         width: 100%;
    }
     
    .formulaire_contact{
    
        width: 100%;
        height: auto;
        
        background-color: rgb(225, 229, 229);
    }
    
}