 
main{
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    justify-content: center;
    justify-items: center;
    
    
}
.image_font{
    
    position: relative;
    background-color: black;
    width: 100%;
    height: 85vh;
    
}
.image_font .media{
    width: 80%;
     
    height: 100%; 
    
}
 .nom_photo{
    position: absolute;
   
    width: 40%;
    left: 3%;
    top: 10%;
    display: flex;
    align-items: center;
    gap: 2rem;
 }
.photo{
    width: 5rem;
    opacity: 100%;
    height: 5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

 
 
.autoExecute{
    position: absolute;
    z-index: 10;
    /* top: 44%; */
    top: 43%;
    left: 47%;
    /* right: 15%; */
    /* color: white; */

}

.image_font .nom{
    
    /* color: #eea10c; */
    color:#F46F30;
    font-size: 30px;
}

.presentation{
   
    width: 60%;
    height: auto;
   
}

.presentation p{
    font-size: 30Px;
    font-family: Arial, Helvetica, sans-serif;
}

hr{
    width: 10%;
    border: 3px solid  #F46F30;
}

.qualite{
   
    display: flex;
    width: 100%;
    margin-top: 3rem;
    height: auto;
    justify-content: space-between;
    
}

.qualite i{
    font-size: 60px;
    color: #F46F30;
}
.qualite h4{
    font-size: 20px;
    margin: 1rem;
} 

.envloppe {
    width: 4vw;
    height: 8vh;
    margin-top: 4rem;
    margin-bottom: 4rem;
    cursor: pointer;
  
}

.envloppe img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
   
    
   
    
}
.envloppe:hover{
    transform:scale(1.2, 1.2);
    -webkit-transform:scale(1.2, 1.2);
    -moz-transform:scale(1.2, 1.2);
    -ms-transform:scale(1.2, 1.2);
    -o-transform:scale(1.2, 1.2);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.image_font .fleche{
     
   position: absolute;
    cursor: pointer;
    border: 5px solid rgb(227, 228, 228) ;
    width: 2rem;
    height: 12vh;
    top: 70%;
    left: 50%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
@keyframes slidein {
    from { transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); }
    to   { transform: translateY(1); -webkit-transform: translateY(1); -moz-transform: translateY(1); -ms-transform: translateY(1); -o-transform: translateY(1); }
  }
  .fleche:hover{
     
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.fleche .fa-angles-down{
    font-size: 30px;
    color: white;
    transform: translateY(65px);
    -webkit-transform: translateY(65px);
    -moz-transform: translateY(65px);
    -ms-transform: translateY(65px);
    -o-transform: translateY(65px);
    animation: 1.3s linear 1s infinite running slidein;
    -webkit-animation: 1.3s linear 1s infinite running slidein;
}

.portfolio_home, .contact_home, .comptences_home{
    width: 100%;
}

.page{
    border-color: black;
    margin-top: 2rem;
    width: 60%;
    border-width: 0.2px;
}
@media screen and (min-width: 578px) and (max-width: 1200px) {

    .fleche i{
        font-size: 30px;
        color: white;
        font-weight: bold;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        animation: 1.2s linear 1s infinite running slidein;
        -webkit-animation: 1.5s linear 1s infinite running slidein;
}
    
.image_font{
    position: relative;
    width: 100%;
    height: 70vh;
    
}
.nom_photo{
    width: 60%;
}
.image_font .nom{
    font-size: 20px;
}

.qualite{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.qualite h4{
    font-size: 15px;
    margin: 1rem;
} 

.qualite i{
    font-size: 45px;
    color: #F46F30;
}

.envloppe {
    width: 8vw;
    height: 8vh;
    margin-top: 4rem;
    margin-bottom: 4rem;
    cursor: pointer;
  
}
.presentation p{
    font-size: 25Px;
    font-family: Arial, Helvetica, sans-serif;
}
.autoExecute{
    position: absolute;
    z-index: 10;
    top: 44%;
    left: 47%;
    color: white;

}
}

@media screen and (max-width: 578px) {
    .image_font{
        position: relative;
        width: 100%;
        height: 70vh;
        
    }
    .image_font .media{
        width: 100%;
        height: 100%;
       
       
    }
    .nom_photo{
        width: 100%;
        justify-content: center;
    }
    .image_font .nom{
        font-size: 20px;
        text-align: center;
    }
 
    .qualite{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .qualite h4{
        font-size: 10px;
        margin: 1rem;
    } 
    .qualite i{
        font-size: 30px;
        color: #F46F30;
    }
    .presentation{
        display: block;
    }
    .presentation p{
        font-size: 20Px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .envloppe {
        width: 6vw;
        height: 4vh;
        margin-top: 4rem;
        margin-bottom: 4rem;
        cursor: pointer;
      
    }
    
    .autoExecute{
        position: absolute;
        z-index: 10;
        top: 44%;
        left: 47%;
        color: white;
    
    } 
   
}