:root {
    --primary: #2563eb;
    --primary-dark: #1d4ed8;
    --secondary: #7c3aed;
    --accent: #f46f30;
    --dark: #1e293b;
    --darker: #0f172a;
    --light: #f8fafc;
    --gray: #64748b;
    --gray-light: #cbd5e1;
    --shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 25px 50px rgba(0, 0, 0, 0.15);
    --gradient: linear-gradient(135deg, var(--primary), var(--secondary));
    --border-radius: 12px;
    --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

header {
    position: relative;

    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background: linear-gradient(135deg, var(--dark));

}

.mail_tel_reseau {
    /* border: 1px solid white; */
    width: 35%;
    height: 5rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content:left;
    gap: 1rem;
}


.fa-phone,
.fa-envelope {
    cursor: pointer;
    color: white;
    font-size: 12px;

}

.phone {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: white;

    font-size: 12px;
}

.mails {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;

    font-size: 12px;
}

.reseaux {

    display: flex;
    width: 10%;
    gap: 1rem;
}

.reseaux .fa-linkedin {
    color: rgb(89, 235, 237);

    cursor: pointer;

}

.reseaux .fa-twitter {
    color: #00acee;
    cursor: pointer;
}

.reseaux .fa-facebook {
    color: #3b5998;

    cursor: pointer;
}

.reseaux .fa-twitter:hover,
.reseaux .fa-linkedin:hover,
.reseaux .fa-facebook:hover {
    color: #F46F30;
}

/* .logo_header{
   
   position: absolute;
   z-index: 100;
    height: 30vh;
    width: 10%;
    left: 5%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.logo_header .photo{
     position: absolute;
     width: 50%;
     height: 50%;
     opacity:60%;
     top: 25%;
     left: 25%;
     border-radius:50% ;
     -webkit-border-radius:50% ;
     -moz-border-radius:50% ;
     -ms-border-radius:50% ;
     -o-border-radius:50% ;
}
 
 
.logo_header .cercle_logo{
    
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */


/* @keyframes slidein {
    from { transform: rotate3d(1, 1, 1, 0deg); -webkit-transform: rotate3d(1, 1, 1, 0deg); -moz-transform: rotate3d(1, 1, 1, 0deg); -ms-transform: rotate3d(1, 1, 1, 0deg); -o-transform: rotate3d(1, 1, 1, 0deg); }
    to   { transform: rotate3d(1, 1, 1, 45deg);; -webkit-transform: translateY(1); -moz-transform: translateY(1); -ms-transform: translateY(1); -o-transform: translateY(1); }
  } */

/* .logo_header .cercle_logo:hover{
    transform: rotate3d(0, 0, 1, 180deg);
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    -moz-transform: rotate3d(0, 0, 1, 180deg);
    -ms-transform: rotate3d(0, 0, 1, 180deg);
    -o-transform: rotate3d(0, 0, 1, 180deg);
    animation: 1.5s linear 1s   slidein;
    -webkit-animation: 1.5s linear 1s   slidein;
} */
.menuBergeer-nav{
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
 
    
    width: 70%;
    height: 5rem;
}

.nav {
/* border: 1px solid white; */
    
    width: auto;
    height: 5rem;
    display: flex;
    /* eslint-disable-next-line */
    justify-content:left;
    gap: 3rem;
    align-items: center;
    margin-right: 4rem;

}

.nav .menu {
    
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #F46F30;
    cursor: pointer;
    letter-spacing: 1px;
}

.menu .fa-house {
    font-size: 17px;
}

.nav .menu:hover {
    color: white;
    text-decoration-line: underline;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -moz-text-decoration-line: underline;
}

.fa-bars {
    visibility: hidden;

}
.menu_cv{
    background: var(--accent);
    color: var(--gray-light);
    border: none;
    padding: 10px 25px;
    border-radius: var(--border-radius);
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.7px; 
    transition: all 0.3s ease;
}

@media screen and (min-width: 578px) and (max-width: 1200px) {
    header {
        position: relative;
        display: block;
        height: auto;

    }

    .mail_tel_reseau {
        padding-top: 4rem;
        padding-left: 0;
        margin-left: 2rem;
        width: 75%;
        


    }


    .fa-bars {
        width: 100%;
        /* position: absolute; */
        color: aliceblue;
        font-size: 40px;
        /* z-index: 10; */
        /* right: 10%;
        top: 3rem; */
        visibility: visible;


    }

    .menuBergeer-nav {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: auto;
        height: auto;
        margin-top: -6%;
        margin-right: 2rem;

        visibility: visible;
        
      
        margin-left: 75%;
       
         
       
    }

    .nav {
        /* border: 2px solid red;   */
        display: block;
        margin: 0;
        width: 100%;
        height: auto;
        margin-top: 5%;
        visibility: hidden;


    }

    .nav.open {

        width: 88%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        

        visibility: visible;

    }
    .menu_cv{
    background: var(--accent);
    color: var(--gray-light);
    border: none;
    padding: 10px 25px;
    border-radius: var(--border-radius);
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.7px; 
    transition: all 0.3s ease;
}



}

@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;

    }

    header .fa-bars {
        /* border: 1px solid white; */
        visibility: visible;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        color: aliceblue;
        font-size: 30px;
        
        z-index: 10;


    }
.menuBergeer-nav {
        /* border: 1px solid rgb(31, 100, 218); */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        max-width: 100%;
        height: auto;
        margin-top: -6%;
      

        visibility: visible;
        
      
        
       
         
       
    }

    .nav {
        visibility: hidden;


    }

    .nav.open {
          /* border: 1px solid red; */
        z-index: 100;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-left: 22%;
        margin-top: 3rem;
        visibility: visible;
        height: auto;


    }

    .mail_tel_reseau {
        width: 100%;
        gap: 1rem;
        margin-top: 2rem;
        margin-left: 2rem;
    }

}
@media screen and (max-width: 360px) {

    header {
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;

    }

    header .fa-bars {
        /* border: 1px solid white; */
        visibility: visible;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        color: aliceblue;
        font-size: 30px;
        
        z-index: 10;


    }
.menuBergeer-nav {
        /* border: 1px solid rgb(31, 100, 218); */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        max-width: 100%;
        height: auto;
        margin-top: -6%;
      

        visibility: visible;
        
      
        
       
         
       
    }

    .nav {
        visibility: hidden;


    }

    .nav.open {
          /* border: 1px solid red; */
        z-index: 100;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-left: 22%;
        margin-top: 3rem;
        visibility: visible;
        height: auto;


    }

    .mail_tel_reseau {
        width: 100%;
        gap: 1rem;
        margin-top: 2rem;
        margin-left: 2rem;
    }


    .menu_cv{
    background: var(--accent);
    color: var(--gray-light);
    border: none;
    padding: 8px 20px;
    border-radius: var(--border-radius);
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.7px; 
    transition: all 0.3s ease;
}
.mail_tel_reseau {
    /* border: 1px solid white; */
    width: 90%;
    padding: 0.5rem;
    margin: 0;
}


.fa-phone,
.fa-envelope {
   
    font-size: 8px;

}

.phone {
    

    font-size: 8px;
}

.mails {
     

    font-size: 8px;
}
}