header{
 position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    background-color: rgb(0, 0, 0);
    
}
.mail_tel_reseau{
    width: 50%;
    height: auto;
    margin-left: 12rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
 

.fa-phone, .fa-envelope{
    cursor: pointer;
    color: white;
    font-size: 12px;
    
}
.phone{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: white;
   
    font-size: 12px;
}
.mails{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
   
    font-size: 12px;
}
.reseaux{
    
    display: flex;
    width: 10%;
    gap: 1rem;
}
.reseaux .fa-linkedin{
    color: rgb(89, 235, 237);
     
    cursor: pointer;

}
.reseaux .fa-twitter{
    color: #00acee; 
    cursor: pointer;
}

.reseaux .fa-facebook{
    color: #3b5998;

    cursor: pointer;
}
 
.reseaux .fa-twitter:hover, .reseaux .fa-linkedin:hover, .reseaux .fa-facebook:hover{
    color:#F46F30;
}
/* .logo_header{
   
   position: absolute;
   z-index: 100;
    height: 30vh;
    width: 10%;
    left: 5%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.logo_header .photo{
     position: absolute;
     width: 50%;
     height: 50%;
     opacity:60%;
     top: 25%;
     left: 25%;
     border-radius:50% ;
     -webkit-border-radius:50% ;
     -moz-border-radius:50% ;
     -ms-border-radius:50% ;
     -o-border-radius:50% ;
}
 
 
.logo_header .cercle_logo{
    
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */

 
/* @keyframes slidein {
    from { transform: rotate3d(1, 1, 1, 0deg); -webkit-transform: rotate3d(1, 1, 1, 0deg); -moz-transform: rotate3d(1, 1, 1, 0deg); -ms-transform: rotate3d(1, 1, 1, 0deg); -o-transform: rotate3d(1, 1, 1, 0deg); }
    to   { transform: rotate3d(1, 1, 1, 45deg);; -webkit-transform: translateY(1); -moz-transform: translateY(1); -ms-transform: translateY(1); -o-transform: translateY(1); }
  } */

  /* .logo_header .cercle_logo:hover{
    transform: rotate3d(0, 0, 1, 180deg);
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    -moz-transform: rotate3d(0, 0, 1, 180deg);
    -ms-transform: rotate3d(0, 0, 1, 180deg);
    -o-transform: rotate3d(0, 0, 1, 180deg);
    animation: 1.5s linear 1s   slidein;
    -webkit-animation: 1.5s linear 1s   slidein;
} */


.nav{
   
    margin-right: 5%;
    width: 40%;
    height: auto;
    display: flex;
    /* eslint-disable-next-line */
    justify-content:flex-end;
    gap: 3rem;
    align-items: center;
    
}

.nav .menu {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color:#F46F30;
    cursor: pointer;
}
.menu .fa-house{
    font-size: 17px;
}

.nav .menu:hover {
     color:  white;
     text-decoration-line: underline;
     transition: 0.3s ease-in-out;
     -webkit-transition: 0.3s ease-in-out;
     -moz-transition: 0.3s ease-in-out;
     -ms-transition: 0.3s ease-in-out;
     -o-transition: 0.3s ease-in-out;
     -moz-text-decoration-line: underline;
}
.header .fa-bars{
    visibility: hidden;
}

@media screen and (min-width: 578px) and (max-width: 1200px) {
    header{
        position: relative;
        display: block;
        height: auto;
        
    }

    .mail_tel_reseau{
      padding-top: 4rem;
      padding-left: 0;
       margin-left: 2rem;
       width: 75%;
        
        
    }


    header .fa-bars{
        cursor: pointer;
        position: absolute;
        color: aliceblue;
        font-size: 40px;
        z-index: 10;
        right: 10%;
        top: 3rem;
        visibility: visible;
    }

   
     
    .nav{
       
        display: block;
        border: 2px solid white;
        width: 20%;
        height: auto;
        margin-top: 15%;
        visibility: hidden;
    }
    .nav.open {
        
       display: flex;
       flex-direction: column;
       padding: 10px;
       margin-left: 0%;
       
       visibility: visible;
      
}
 
    
}

@media screen and (max-width: 578px) {
    header{
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
        height: auto;
        
    }

    header .fa-bars{
        cursor: pointer;
       visibility: visible;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        color: aliceblue;
        font-size: 30px;
        padding-top: 3rem;
        z-index: 10;
        
        
    }

    
     .nav{
        visibility: hidden;
       
        
     }
    .nav.open {
        z-index: 100;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-left: 6%;
        margin-top: 3rem;
        visibility: visible;
        
      
 }
 
 .mail_tel_reseau{
    width: 100%;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 2rem;
 }
    
}