.container_footer{
    background-color: black;
    height: auto;
    display: flex;
    justify-content: center;
  
    align-items: center;
   gap: 3rem;
   
    margin-top: 5rem;
}

.mot_footer{
   
    width: 30%;
    height: 90%;
    margin-left: 10rem;
}
.mot_footer p{
    color: white;
}
.mot_footer h5{
    color: rgb(201, 202, 204);
}

.reseaux_sociaux{
    
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 7rem;
    gap: 1rem;
    width: 20%;
}

.reseaux_sociaux .fa-linkedin{
    color: rgb(89, 235, 237);
     
    cursor: pointer;

}
.reseaux_sociaux .fa-twitter{
    color: #00acee; 
    cursor: pointer;
}

.reseaux_sociaux .fa-facebook{
    color: #3b5998;

    cursor: pointer;
}
.informations{
   
    
    width: 30%;
    display: flex;
    flex-direction: column;
   justify-items: left;
   margin-left: 10rem;
}
.informations p {
    color: white;
   
}

.informations h4{
    color: #F46F30;
    display: flex;
    justify-items: left;
}

.informations .mon_adresse{
    display: flex;
    justify-items: left;
     
}

@media screen and (min-width: 578px) and (max-width: 1200px) {
    
    .container_footer{
        background-color: black;
        height: auto;
        display: flex;
        flex-direction: column;
    
         
      
       
        
    }
    .mot_footer, .reseaux_sociaux, .informations{
        width: 60%;
    }
    .informations{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
       
    }
}

@media screen and (max-width: 578px) {
    
    .container_footer{
        background-color: black;
        height: auto;
        display: flex;
        flex-direction: column;
    
         
      
       
        
    }
    .mot_footer, .reseaux_sociaux, .informations{
        width: 100%;
        margin-left: 0;
    }
    .informations{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}