.auto-typing-text {
  
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    color: rgb(227, 228, 228);
    white-space: nowrap;
    display: inline-block;
    animation: typing 3s steps(40) forwards;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

   
@media screen and (min-width: 578px) and (max-width: 1200px) {
  .auto-typing-text{
      
      
    font-size: 15px;
   
    
  }
}
  @media screen and (max-width: 578px) {
    .auto-typing-text{
      
      
      font-size: 8px;
     
      
    }
  } 

